<!DOCTYPE html>
<html>
  <head>
    <title>Traffic Sign Detection</title>
    <link rel="stylesheet" type="text/css" href="static/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <h1>About Project</h1>
    <div>
      <p>Our website is dedicated to using advanced deep learning techniques to enhance traffic safety through the prediction and classification of traffic signs. Our team has developed a state-of-the-art CNN sequential model trained on the German Traffic Sign Recognition Benchmark (GTSRB) dataset. This model is capable of accurately identifying and predicting traffic signs in real-time.
      </p>
      <p>Our website offers an intuitive and user-friendly interface that allows users to upload traffic sign images for prediction. Our deep learning model quickly analyzes the image and provides accurate results, helping to ensure the safety of drivers and pedestrians on the road.
      </p>
      <p>Our team is passionate about leveraging cutting-edge technology to address real-world problems, and we are proud to offer a tool that can make a positive impact on traffic safety. With our commitment to innovation and dedication to excellence, we aim to continue providing the highest quality services and solutions to our users.
      </p>
      </div>

    <a href="/"><button><i class="material-icons">home</i></button></a>
    <a href="/predict"><button>DETECT</button></a>
  </body>
</html>
